*{
    box-sizing: border-box;
}
.container {
	max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    display: block;
    clear: both;
}

/*Introduction*/
.introduction {
	background-image: url("../photos/street-background.jpg");
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
.introduction .header {
    padding-top: 10px;
    padding-bottom: 30px;
}
.introduction .header img {
    display: block;
    margin: 0 auto;
    height: 60px;
}
.introduction .left-side {
    display: inline-block;
    padding: 30px 30px 100px 30px;
}
.introduction .right-side {
    float: right;
    display: inline-block;
    padding-top: 130px;
    padding-left: 90px;
    font-family: 'Raleway', sans-serif;
}

.introduction .right-side .btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.introduction .right-side .title {
    font-size: 32px;
    font-weight: 500;
    color: #fff;
    padding: 22px 0;
}
.introduction .right-side span {
    font-weight: bold
}

.introduction .right-side .btn-group span {
    padding-left: 20px;
}
.introduction .right-side p {
    color: #fff;
    font-size: 25px;
   	padding-bottom: 25px;
    line-height: 25px;
}

/*Information*/

.information{
	padding-bottom: 150px;
	font-family: 'Open Sans', sans-serif;
	color: #3D3D3D;
	clear: both;
}
.information span {
	padding-left: 20px;
}
.information .header {
	padding: 90px 80px 150px 30px;
}
.information .header img {
    height: 43px;
}
.information .header .title{
    font-weight: bold;
}
.information .header-item {
    float: left;
    width: 25%;
    line-height: 30px;
    padding: 20px;
}
.information .left-side {
    display: inline-block;
    padding-left: 30px;
}
.information .right-side {
    float:right;
    display: inline-block;
    padding-top:30px;
    padding-left: 20px;
}
.information .right-side .title {
    padding-bottom: 25px;
    font-size: 50px;
    padding-top: 17px;
    font-weight: 750;
}
.information .right-side a{
	font-size: 15px;
	box-shadow: 0px 0px 50px #C7C7C7;
}
.information .right-side p {
    padding-bottom: 90px;
    font-size: 19px;
    line-height: 35px;
    width: 480px;
}
.information .right-side .btn-left{
	width: 20%;
	float: left;
	padding-left: 15px;
}
.information .right-side .btn-right{
	width: 80%;
	text-align: left;
	line-height: 15px;
	display: inline-block;
	padding-top: 5px;
	padding-left: 20px;
	font-size: 13px;
}
.information .right-side .btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
.information .right-side .bold{
	font-weight: bold;
}
.information .right-side img {
	height: 40px;
}

/*Features*/

.features {
	padding-bottom: 20px;
	font-family: 'Raleway', sans-serif;
	background: #FC7E10;
	color: #FFFFFF;
}
.features .left-side {
    display: inline-block;
    padding-left: 40px;
}
.features .right-side{
    float:right;
    padding-left: 20px;
}
.features img {
    padding-top: 46px;
}
.features .title {
    font-size: 50px;
    font-weight:bold;
    padding-top: 100px;
}
.features span{
	padding-left: 20px;
}
.features ul{
	padding-top: 40px;
	line-height: 40px;
	font-size: 18px;
}

/*Subscribe*/

.subscribe {
	padding-bottom: 5px;
	font-family: 'Open Sans', sans-serif;
	background: #DDD;
	color: #212121;
}
.subscribe .title{
	padding-top: 75px;
	font-size: 30px;
	font-weight: bold;
	padding-bottom: 45px;
}
.subscribe .center {
	text-align: center;
	padding-bottom: 32px;
}
.subscribe p {
	font-size: 18px;
    padding-top: 10px;
	padding-bottom: 45px;
}
.subscribe input[type=text] {
	height: 40px;
	color: #000;
	border: none;
	font-size: 15px;
	padding-right: 50px;
	padding-left: 20px;
}
.subscribe .button {
	display: block;
	padding-top: 25px;
	padding-bottom: 40px;
}
.subscribe span {
	padding-left: 20px;
}

/*Footer*/

footer {
	font-family: 'Open Sans', sans-serif;
	background: #60615C;
	color: #FFF;
}
footer .left-side {
    padding-bottom: 56px;
    padding-top: 60px;
	display: inline-block;
}
footer .right-side {
	float: right;
	text-align: right;
	padding-top: 45px;
}
footer .title{
	text-align: right;
	padding-bottom: 15px;
}
footer p {
	line-height: 25px;
	font-size: 13px;
}
footer span {
	padding-left: 10px;
}
footer img{
	height : 40px;
}

.introduction .btn-warning {
    background-color: #F8A01E;
    border-color: #F8A01E;
}
.introduction .btn-default {
    background: transparent;
    border-color: #FFF;
}
.introduction .btn {
    width: 215px;
    padding: 20px;
    border-radius: 10px;
    font-size: 20px;
    color: #FFF;
}
.information .btn-default {
    color: #FFF;
    background: #212121;
    border-radius: 50px;
    width: 225px;
}
.information .btn {
    padding: 5px;
}
.subscribe .btn {
    color: #FFF;
    background: #F58422;
}
.subscribe .btn-sm {
    padding: 10px;
    font-size: 18px;
    border-radius: 20px;
    width: 250px;
}

@media (max-width: 1024px) {
    .container {
        width: 100%;
     }
}
@media (min-width: 769px) and (max-width: 1024px) {
    .introduction .left-side {
        display: inline-block;
        padding: 30px 30px 40px 70px;
    }
    .introduction .right-side {
        padding-top: 80px;
        padding-left: 90px;
    }
    .introduction .right-side .title {
        padding: 15px 0;
        font-size: 25px;
    }
    .introduction .right-side p {
        font-size: 20px;
        line-height: 24px;
        padding-bottom: 20px;
    }
    .introduction .right-side .btn:first-child:not(:last-child):not(.dropdown-toggle) {
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
    }
    .information {
        padding-bottom: 120px;
    }
    .information img {
        padding: 0;
    }
    .information span {
        padding-left: 10px;
    }
    .information .header {
        padding: 60px 80px 70px 30px;
    }
    .information .header-item {
        width: 50%;
        padding: 40px;
    }
    .information .left-side {
        padding-left: 50px;
    }
    .information .right-side {
        padding-top: 5px;
    }
    .information .right-side .title {
        padding-top: 15px;
        font-size: 40px;
        padding-bottom: 25px;
    }
    .information .right-side a {
        font-size: 10px;
    }
    .information .right-side p {
        font-size: 17px;
        line-height: 30px;
        width: 400px;
    }
    .information .right-side .btn-right{
        font-size: 11px;
    }
    .information .right-side .btn-left{
        padding-left: 10px;
    }
    .features .title {
        font-size: 40px;
    }
    footer .left-side {
        padding-left: 50px;
    }
    footer .right-side {
        padding-right: 50px;
    }
    .introduction .btn-warning {
        width: 170px;
        font-size: 15px;
        padding: 15px;
        border-radius: 8px;
    }
    .introduction .btn-default {
        width: 170px;
        font-size: 15px;
        padding: 15px;
        border-radius: 8px;
    }
    .information .btn-default {
        width: 195px;
    }
}

@media (min-width: 321px) and (max-width: 768px) {
    .introduction .right-side {
        padding-top: 60px;
        padding-left: 70px;
    }
    .introduction .right-side .title {
        padding: 12px 0;
        font-size: 20px;
    }
    .introduction .right-side p {
        font-size: 15px;
        line-height: 23px;
        padding-bottom: 15px;
    }
    .introduction .right-side .btn:first-child:not(:last-child):not(.dropdown-toggle) {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    .information {
        padding-bottom: 90px;
    }
    .information img {
        padding: 0;
    }
    .information span {
        padding-left: 20px;
    }
    .information .header {
        padding: 50px 80px 40px 60px;
    }
    .information .header p {
        font-size: 15px;
        line-height: 25px;
    }
    .information .header-item {
        width: 50%;
        padding: 30px;
    }
    .information .right-side {
        padding-top: 50px;
        padding-left: 150px;
    }
    .information .right-side .title {
        font-size: 35px;
        padding-top: 5px;
        padding-bottom: 20px;
    }
    .information .right-side a {
        font-size: 10px;
        margin-top: 17px;
    }
    .information .left-side {
        padding-top: 18px;
    }
    .information .right-side p {
        font-size: 18px;
        line-height: 35px;
        padding-bottom: 25px;
    }
    .information .right-side .btn-right{
        font-size: 12px;
    }
    .information .right-side .btn-left{
        padding-left: 10px;
    }
    .features .title {
        font-size: 30px;
        padding-top: 80px;
    }
    .features ul {
        padding-top: 20px;
        line-height: 30px;
        font-size: 12px;
    }
    .features .left-side {
        padding-left: 60px;
    }
    .subscribe .title{
        padding-top: 70px;
        font-size: 25px;
        padding-bottom: 30px;
    }
    .subscribe .center {
        padding-bottom: 0;
    }
    .subscribe p {
        font-size: 17px;
        padding-bottom: 40px;
    }
    footer .left-side {
        padding-left: 50px;
    }
    footer .right-side {
        padding-right: 50px;
    }
    .introduction .btn-warning {
        width: 128px;
        font-size: 12px;
        padding: 12px;
        border-radius: 5px;
    }
    .introduction .btn-default {
        width: 128px;
        font-size: 12px;
        padding: 12px;
        border-radius: 5px;
    }
    .information .btn-default {
        width: 220px;
        padding: 8px;
    }
    .subscribe .btn-sm {
        padding: 8px;
        font-size: 16px;
        border-radius: 20px;
        width: 210px;
    }
}

@media (max-width: 767px) {
    .introduction .header {
        padding-bottom: 20px;
    }
    .introduction .left-side {
        padding: 0 100px;
    }
    .introduction .right-side {
        padding: 0 20px;
        text-align: center;
        padding-bottom: 40px;
    }
    .introduction .right-side .title {
        padding: 12px 0;
        font-size: 18px;;
    }
    .introduction .right-side p {
        font-size: 13px;
        line-height: 20px;
        padding-bottom: 10px;
    }
    .information {
        padding-bottom: 60px;
    }
    .information span {
        padding-left: 10px;
    }
    .information .header {
        padding: 20px 0 20px 15px;
    }
    .information .header .title {
        font-size: 12px;
    }
    .information .header p {
        font-size: 10px;
        line-height: 18px;
    }
    .information .header-item {
        width: 50%;
        padding: 20px;
    }
    .information img {
        padding: 0;
    }
    .information .left-side {
        padding-top: 5px;
        padding-left: 0;
    }
    .information .right-side {
        padding-top: 20px;
        padding-left: 50px;
    }
    .information .right-side .title {
        padding-top: 20px;
        font-size: 20px;
        padding-bottom: 20px;
    }
    .information .right-side a {
        font-size: 10px;
    }
    .information .right-side p {
        padding-bottom: 10px;
        font-size: 12px;
        line-height: 22px;
        width: 280px;
    }
    .information .btn-group {
        padding-left: 0;
    }
    .introduction .right-side .btn:first-child:not(:last-child):not(.dropdown-toggle) {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    .information .right-side .btn-right{
        font-size: 7px;
        line-height: 8px;
        padding-top: 13px;
        padding-left: 17px;
    }
    .information .right-side .btn-left{
        padding-left: 5px;
    }
    .features .left-side {
        padding-left: 0;
    }
    .features img {
        padding-top: 30px;
        width: 78%;
        display: block;
        margin: 0 auto;
    }
    .features ul {
        padding-top: 10px;
        padding-left: 90px;
        line-height: 30px;
        font-size: 12px;
    }
    .features .title {
        font-size: 20px;
        padding-top: 10px;
        text-align: center;
    }
    .subscribe .title{
        padding-top: 30px;
        font-size: 15px;
        padding-bottom: 10px;
    }
    .subscribe p {
        font-size: 12px;
        padding-bottom: 20px;
    }
    .subscribe input[type=text] {
        height: 30px;
        font-size: 12px;
        padding-right: 10px;
        padding-left: 5px;
        width: 130px;
    }
    .subscribe .button {
        padding-top: 15px;
        padding-bottom: 10px;
    }
    .subscribe .center {
        padding: 0 50px;
    }
    .subscribe span {
        padding-left: 10px;
    }
    footer .left-side {
        text-align: center;
        padding: 10px 20px;
        padding-bottom: 20px;
    }
    footer .right-side {
        text-align: center;
        padding: 0 20px;
    }
    footer .title {
        padding-top: 20px;
        font-size: 13px;
        text-align: center;
    }
    footer p {
        line-height: 15px;
        font-size: 9px;
    }
    .introduction .btn-warning {
        width: 110px;
        font-size: 10px;
        padding: 10px;
        border-radius: 5px;
    }
    .introduction .btn-default {
        width: 110px;
        font-size: 10px;
        padding: 10px;
        border-radius: 5px;
    }
    .information .btn-default {
        width: 130px;
        padding: 0;
    }
    .subscribe .btn-sm {
        padding: 5px;
        font-size: 13px;
        border-radius: 20px;
        width: 120px;
    }
}