*{
    box-sizing: border-box;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    display: block;
    clear: both;
}

/*Introduction*/
.introduction{
    background-image: url("../photos/street-background.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
.introduction .header {
    padding-top: 10px;
    padding-bottom: 20px;
}
.introduction .header img {
    display: block;
    height: 100%;
    margin: 0 auto;
    height: 70px;
}
.introduction .left-side {
    display: inline-block;
    width:  40%;
    padding: 30px;
}
.introduction .left-side img {
    height: 500px;
    margin-left:30px;
}
.introduction .right-side {
    width: 60%;
    float: right;
    display: inline-block;
    padding-top: 150px;
    padding-left: 100px;
    font-family: raleway;
}
.introduction .right-side .title {
    font-size: 32px;
    color: #fff;
    padding: 22px 0;
}
.introduction .right-side span {
    font-weight: bold
}
.introduction .right-side p {
    color: #fff;
    font-size: 25px;
       padding-bottom: 25px;
}

/*Information*/

.information{
    padding-bottom: 150px;
    font-family: open sans;
    color: #3D3D3D;
    clear: both;
}
.information span {
    padding-left: 20px;
}
.information .header {
    padding: 90px 100px 400px 30px;
}
.information .header img {
    height: 43px;
}
.information .header .title{
    font-weight: bold;
}
.information .header-item {
    float: left;
    width: 25%;
    line-height: 30px;
    padding: 20px;
}
.information .left-side {
    width: 50%;
    display: inline-block;
    padding-left: 35px;
}
.information .left-side img {
    height: 500px;
}
.information .right-side {
    float:right;
    width:50%;
    display: inline-block;
    padding-top:30px;
    padding-left: 20px;
}
.information .right-side .title{
    padding-bottom: 25px;
    font-size: 50px;
    padding-top: 17px;
    font-weight: 750;
}
.information .right-side a {
    font-size: 15px;
    box-shadow: 0px 0px 50px #C7C7C7;
}
.information .right-side p {
    padding-bottom: 90px;
    font-size: 19px;
    line-height: 35px;
    width: 480px;
}
.information .right-side .btn-left{
    width: 20%;
    float: left;
    padding-left: 15px;
}
.information .right-side .btn-right{
    width: 80%;
    text-align: left;
    line-height: 15px;
    display: inline-block;
    padding-top: 5px;
    padding-left: 20px;
    font-size: 13px;
}
.information .right-side .bold{
    font-weight: bold;
}
.information .right-side img {
    height: 40px;
}

/*Features*/

.features {
    padding-bottom: 20px;
    font-family: raleway;
    background: #FC7E10;
    color: #FFFFFF;
}
.features .left-side {
    width:50%;
    display: inline-block;
    padding-left: 50px;
}
.features .right-side{
    width:50%;
    float:right;
    padding-left: 20px;
}
.features img {
    height: 515px;
    padding-top: 46px;
}
.features .title {
    font-size: 50px;
    font-weight:bold;
    padding-top: 100px;
}
.features span{
    padding-left: 20px;
}
.features ul{
    padding-top: 40px;
    line-height: 40px;
    font-size: 18px;
}

/*Subscribe*/

.subscribe {
    padding-bottom: 5px;
    font-family: open sans;
    background: #DDD;
    color: #212121;
}
.subscribe .title{
    padding-top: 75px;
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 45px;
}
.subscribe .center {
    text-align: center;
    padding-bottom: 32px;
}
.subscribe p {
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 45px;
}
.subscribe input[type=text] {
    height: 40px;
    color: #000;
    border: none;
    font-size: 15px;
    padding-right: 50px;
    padding-left: 20px;
}
.subscribe .button {
    display: block;
    padding-top: 25px;
    padding-bottom: 40px;
}
.subscribe span {
    padding-left: 20px;
}

/*Footer*/

footer {
    font-family: open sans;
    background: #60615C;
    color: #FFF;
}
footer .left-side {
    padding-bottom: 56px;
    padding-top: 60px;
    width: 50%;
    display: inline-block;
}
footer .right-side {
    width: 50%;
    float: right;
    text-align: right;
    padding-top: 45px;
}
footer .title{
    text-align: right;
    padding-bottom: 15px;
}
footer p {
    line-height: 25px;
    font-size: 13px;
}
footer span{
    padding-left: 10px;
}
footer img{
    height: 40px;
}
.btn {
    background : #F8A01E;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    width: 215px;
    padding: 20px;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    border: 2px solid #F8A01E;
    text-align: center;
}
.btn.btn-transparent{
    background: transparent;
    border: 2px solid white;
    margin-left: 20px;
}
.btn.btn-dark{
    background: #212121;
    border: none;
    border-radius: 50px;
    width: 225px;
    padding: 5px;
}
.btn.btn-dark-orange{
    background: #F58422;
    border: 2px solid #F58422;
}
.btn.btn-sm{
    font-size: 18px;
    width: 250px;
    border-radius: 20px;
    padding: 10px;
    font-weight: bold;
}
