body {
	font-family: century gothic;
	font-size: 35px;
	font-weight: bold;
}
header {
	height: 14%;
	max-width: 100%;
	background-color: #D0FFDD;
	padding-top: 5px;
	padding-left: 5px;
}
ul{
	margin-top: 1px;
}
li{
	height:	130px;
	max-width: 70%;
	background-color: #A4E4FF;
	margin-bottom: 21px;
}
.content{
	height:70%;
	max-width: 100%;
	background-color: #FF9FA0;
}

.sidebar{
	float: right;
	height:	430px;
	width: 380px;
	background-color: #A4E4FF;
	margin-top: 42px;
	margin-right: 30px;
	padding-top: 5px;
	padding-left: 5px;
}
footer{
	height: 14%;
	max-width: 100%;
	background-color: #80FFA4;
	padding-top: 5px;
	padding-left: 5px;
}
