body{
    font-family: century gothic;
    font-size: 35px;
    font-weight: bold;
}
header{
    height: 60px;
    max-width: 100%;
    background-color: #FFFFFF;
    border:2px solid;
    padding-top: 10px;
}
nav{
    height: 60px;
    max-width: 100%;
    background-color: #FFFFFF;
    border:2px solid;
    padding-top: 10px;
}
section{
    height:	160px;
    max-width: 70%;
    background-color: #FFFFFF;
    border:2px solid;
    padding-top: 85px;
}
article{
    height:	160px;
    max-width: 70%;
    background-color: #FFFFFF;
    border:2px solid;
    padding-top: 85px;

}
aside{
    float: right;
    height:	295px;
    width: 445px;
    background-color: #FFFFFF;
    border:2px solid;
    padding-top: 200px;
}
footer{
    height: 60px;
    max-width: 100%;
    background-color: #FFFFFF;
    border:2px solid;
    padding-top: 10px;
}
