*{
    box-sizing: border-box;
}
.container {
    max-width: 1200px;
    overflow: hidden;
    display: block;
}
body {
    background-color: #FFCFD8;
    font-family: brandon grotesque;
}
.cat {
    float: left;
    width: 25%;
    text-align: center;
}
.btn {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    padding: 5px 20px;
    transition: all .5s ease-in-out;
}
.btn:hover {
    font-size: 25px;
}
.title {
    padding-top: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}
input {
    font-size: 20px;
    width: 50px;
    text-align: center;
}